<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mini whatsapp</title>
    <link rel ="stylesheet" href="style.css">
</head>
<body>
    <p>All chats!!</p>
    <form method="GET", action="/chats/new">
        <button> New Chat</button>
    </form>
    <% for(let chat of chats) {%>
    <div class="chat">
        <p>from:<i><%= chat.from %></i></p>
        <div class ="msg">
            <p><%= chat.msg %></p>

            <form method = "GET" action ="/chats/<%= chat._id %>/edit">
                <button>Edit</button>
            </form>

            <form method = "POST" action ="/chats/<%= chat._id %>/delete">
                <button>Delete</button>
            </form>



        </div>
        <p>Received by<i><%= chat.to %></i></p>
        <hr/>
        <p><%= chat.created_At.toString().split(" ")[4] %></p><br/>
        <p><%= chat.created_At.toString().split(" ").slice(0, 4).join("-") %></p>
    </div>
<% } %>
</body>
</html>